@import './base.css';

/* Base styles of Tailwind CSS */
@import "tailwindcss/base";

/* Tailwind CSS components */
@import "tailwindcss/components";

/* Tailwind CSS utilities */
@import "tailwindcss/utilities";

@import 'primeicons/primeicons.css';

@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

@layer utilities {
  .bgGrid {
    background-size: 40px 40px;
    background-image: linear-gradient(to right, theme(colors.light-purple-theme) 1px, transparent 1px), linear-gradient(to bottom, theme(colors.light-purple-theme) 1px, transparent 1px);
    background-color: white;
  }

  .light-shadow {
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  }
}